@charset "utf-8";
.comparison-box {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
.comparison-box .scrollbar {
  position: relative;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  background-color: #ce4848;
  z-index: 100;
  transition: left 0.15s linear;
}
@media (max-width: 800px) {
  .comparison-box .scrollbar {
    transition: none;
  }
}
.comparison-box .scrollbar .btn-box {
  width: 1000px;
  height: 100%;
  position: relative;
  left: -500px;
  top: 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}
@media (max-width: 800px) {
  .comparison-box .scrollbar .btn-box {
    width: 1000px;
    left: -500px;
  }
}
.comparison-box .scrollbar .btn-box .btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80px;
  left: 478px;
}
@media (max-width: 800px) {
  .comparison-box .scrollbar .btn-box .btn {
    width: 35px;
    height: 35px;
    top: 210px;
    left: 485px;
  }
}
.comparison-box .scrollbar .btn-box .btn img {
  pointer-events: none;
  display: block;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.comparison-box .image-box-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.comparison-box .image-box-1 img {
  display: block;
  width: 100%;
  height: 100%;
}
.comparison-box .image-box-1 .word {
  width: 100%;
  position: absolute;
  top: 60%;
  padding-left: 49%;
  text-align: center;
  box-sizing: border-box;
  color: #666;
  line-height: 1.8em;
  font-size: 22px;
}
@media (max-width: 800px) {
  .comparison-box .image-box-1 .word {
    padding-left: 0;
    top: 27%;
    margin-right: -136px;
    font-size: 16px;
  }
}
.comparison-box .image-box-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: clip 0.15s linear;
}
@media (max-width: 800px) {
  .comparison-box .image-box-2 {
    transition: none;
  }
}
.comparison-box .image-box-2 img {
  display: block;
  width: 100%;
  height: 100%;
}
.comparison-box .image-box-2 .word {
  width: 100%;
  position: absolute;
  top: 60%;
  padding-left: 49%;
  text-align: center;
  box-sizing: border-box;
  color: #666;
  line-height: 1.8em;
  font-size: 22px;
}
@media (max-width: 800px) {
  .comparison-box .image-box-2 .word {
    padding-left: 0;
    top: 27%;
    margin-right: -136px;
    font-size: 16px;
  }
}
