@charset "utf-8";
html {
  height: 100%;
}
html.ie7 {
  overflow-x: hidden;
}
html.ie7 body {
  overflow-x: visible;
}
html.ie7 em {
  font-style: normal;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}
