@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Verdana, Geneva, sans-serif, "微軟正黑體", "細明體-ExtB";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.oe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html {
  height: 100%;
}
html.ie7 {
  overflow-x: hidden;
}
html.ie7 body {
  overflow-x: visible;
}
html.ie7 em {
  font-style: normal;
}
a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}
::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
@font-face {
  font-family: ARMOUR_Bd;
  src: url('../font/ARMOUR_Bd.eot') format('embedded-opentype'), url('../font/ARMOUR_Bd.ttf') format('truetype'), url('../font/ARMOUR_Bd.woff') format('woff'), url('../font/ARMOUR_Bd.woff2') format('woff2'), url('../font/ARMOUR_Bd.svg') format('svg');
}
@font-face {
  font-family: ARMOUR_Blk;
  src: url('../font/ARMOUR_Blk.eot') format('embedded-opentype'), url('../font/ARMOUR_Blk.ttf') format('truetype'), url('../font/ARMOUR_Blk.woff') format('woff'), url('../font/ARMOUR_Blk.woff2') format('woff2'), url('../font/ARMOUR_Blk.svg') format('svg');
}
@font-face {
  font-family: ARMOUR_Lt;
  src: url('../font/ARMOUR_Lt.eot') format('embedded-opentype'), url('../font/ARMOUR_Lt.ttf') format('truetype'), url('../font/ARMOUR_Lt.woff') format('woff'), url('../font/ARMOUR_Lt.woff2') format('woff2'), url('../font/ARMOUR_Lt.svg') format('svg');
}
@font-face {
  font-family: ARMOUR_Md;
  src: url('../font/ARMOUR_Md.eot') format('embedded-opentype'), url('../font/ARMOUR_Md.ttf') format('truetype'), url('../font/ARMOUR_Md.woff') format('woff'), url('../font/ARMOUR_Md.woff2') format('woff2'), url('../font/ARMOUR_Md.svg') format('svg');
}
@font-face {
  font-family: ARMOUR_Rg;
  src: url('../font/ARMOUR_Rg.eot') format('embedded-opentype'), url('../font/ARMOUR_Rg.ttf') format('truetype'), url('../font/ARMOUR_Rg.woff') format('woff'), url('../font/ARMOUR_Rg.woff2') format('woff2'), url('../font/ARMOUR_Rg.svg') format('svg');
}
@font-face {
  font-family: ARMOUR_XBd;
  src: url('../font/ARMOUR_XBd.eot') format('embedded-opentype'), url('../font/ARMOUR_XBd.ttf') format('truetype'), url('../font/ARMOUR_XBd.woff') format('woff'), url('../font/ARMOUR_XBd.woff2') format('woff2'), url('../font/ARMOUR_XBd.svg') format('svg');
}
@font-face {
  font-family: ARMOURCd_Md;
  src: url('../font/ARMOURCd_Md.eot') format('embedded-opentype'), url('../font/ARMOURCd_Md.ttf') format('truetype'), url('../font/ARMOURCd_Md.woff') format('woff'), url('../font/ARMOURCd_Md.woff2') format('woff2'), url('../font/ARMOURCd_Md.svg') format('svg');
}
@font-face {
  font-family: ARMOURCd_Rg;
  src: url('../font/ARMOURCd_Rg.eot') format('embedded-opentype'), url('../font/ARMOURCd_Rg.ttf') format('truetype'), url('../font/ARMOURCd_Rg.woff') format('woff'), url('../font/ARMOURCd_Rg.woff2') format('woff2'), url('../font/ARMOURCd_Rg.svg') format('svg');
}
@font-face {
  font-family: ARMOURCd_XBd;
  src: url('../font/ARMOURCd_XBd.eot') format('embedded-opentype'), url('../font/ARMOURCd_XBd.ttf') format('truetype'), url('../font/ARMOURCd_XBd.woff') format('woff'), url('../font/ARMOURCd_XBd.woff2') format('woff2'), url('../font/ARMOURCd_XBd.svg') format('svg');
}
body {
  margin: 0;
  background-repeat: no-repeat;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  height: auto !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body b,
body span,
body div,
body ul,
body ol,
body li,
body table,
body th,
body td,
body em,
body strong,
body a,
body i,
body input,
body select {
  font-family: "微軟正黑體";
}
body a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}
body p {
  color: #000;
}
body b {
  font-size: 28px;
  font-weight: bolder;
}
body img {
  width: 100%;
  height: auto;
}
body select::-ms-expand {
  display: none;
}
body input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body.page {
  background-color: #fafafa;
}
body.mac-user h1,
body.mac-user h2,
body.mac-user h3,
body.mac-user h4,
body.mac-user h5,
body.mac-user h6,
body.mac-user p,
body.mac-user b,
body.mac-user span,
body.mac-user div,
body.mac-user ul,
body.mac-user ol,
body.mac-user li,
body.mac-user table,
body.mac-user th,
body.mac-user td,
body.mac-user a,
body.mac-user i,
body.mac-user select,
body.mac-user input {
  font-weight: 300;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.hide {
  display: none;
}
.for-mobile {
  display: none;
}
@media all and (max-width: 900px) {
  .for-mobile {
    display: block;
  }
}
.for-deskop {
  display: block;
}
@media all and (max-width: 900px) {
  .for-deskop {
    display: none;
  }
}
.Bd {
  font-family: ARMOUR_Bd, "微軟正黑體", sans-serif;
}
.Blk {
  font-family: ARMOUR_Blk, "微軟正黑體", sans-serif;
}
.Lt {
  font-family: ARMOUR_Lt, "微軟正黑體", sans-serif;
}
.Md {
  font-family: ARMOUR_Md, "微軟正黑體", sans-serif;
}
.Rg {
  font-family: ARMOUR_Rg, "微軟正黑體", sans-serif;
}
.XBd {
  font-family: ARMOUR_XBd, "微軟正黑體", sans-serif;
}
.Cd_Md {
  font-family: ARMOURCd_Md, "微軟正黑體", sans-serif;
}
.Cd_Rg {
  font-family: ARMOURCd_Rg, "微軟正黑體", sans-serif;
}
.Cd_XBd {
  font-family: ARMOURCd_XBd, "微軟正黑體", sans-serif;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.wrap {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 110px;
  position: relative;
  top: 0;
  z-index: 12;
  background-color: #000;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  padding: 0 8%;
  box-sizing: border-box;
  overflow: hidden;
}
@media all and (max-width: 1500px) {
  header {
    padding: 0 3%;
    height: 80px;
  }
}
@media all and (max-width: 1050px) {
  header {
    padding: 0 1%;
  }
}
@media all and (max-width: 900px) {
  header {
    padding: 0;
    height: 60px;
    text-align: center;
  }
}
header .member-icon {
  float: left;
  width: 60px;
  height: 60px;
  border-right: solid 1px #4F4F4F;
}
header .member-icon i {
  font-size: 20px;
  color: #fff;
  line-height: 60px;
}
header .menu-icon {
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-left: solid 1px #4F4F4F;
}
header .menu-icon i {
  font-size: 20px;
  color: #fff;
  line-height: 60px;
}
header .logo {
  width: 120px;
  height: 110px;
  background: #D0021B;
  padding: 20px 0;
  box-sizing: border-box;
  float: left;
}
@media all and (max-width: 1500px) {
  header .logo {
    width: auto;
    height: 80px;
    padding: 15px 5px;
  }
}
@media all and (max-width: 900px) {
  header .logo {
    width: auto;
    height: 60px;
    padding: 12px 5px;
    float: none;
    display: inline-block;
  }
}
header .logo img {
  width: 115px;
  height: auto;
  margin: 0px auto;
  display: block;
}
@media all and (max-width: 1500px) {
  header .logo img {
    width: auto;
    height: 50px;
  }
}
@media all and (max-width: 900px) {
  header .logo img {
    width: auto;
    height: 34px;
  }
}
header .tool-box {
  overflow: hidden;
  height: 100%;
  padding: 25px 0;
  box-sizing: border-box;
}
@media all and (max-width: 1500px) {
  header .tool-box {
    padding: 1% 0;
  }
}
@media all and (max-width: 900px) {
  header .tool-box {
    display: none;
  }
}
header .tool-box li {
  float: right;
  height: 100%;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  margin-right: 20px;
}
header .tool-box li a,
header .tool-box li i {
  color: #fff;
}
header .tool-box li.icon {
  width: 60px;
  text-align: center;
  background-color: #D0021B;
  margin-right: 0;
}
header .menu-box {
  width: 0;
  height: 100%;
  z-index: 222;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media all and (max-width: 900px) {
  header .menu-box {
    width: 100%;
  }
}
header .menu-box .close {
  display: none;
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 24px;
  color: #dcdcdc;
  cursor: pointer;
}
@media all and (max-width: 900px) {
  header .menu-box .close {
    display: block;
  }
}
header .menu-box .menu {
  width: 100%;
  height: 100%;
  text-align: right;
  float: right;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding-top: 60px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .menu-box .menu li {
  cursor: pointer;
  padding: 15px 10px;
  box-sizing: border-box;
  border-bottom: solid 1px #565656;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .menu-box .menu li:hover {
  background-color: #1f1f1f;
}
header .menu-box .menu li a {
  font-size: 18px;
  line-height: 24px;
  color: #dcdcdc;
  text-align: right;
}
header .menu-box.open {
  right: 0;
}
header .menu-box.open .menu {
  width: 40%;
}
header.hide {
  height: 0;
  overflow: hidden;
}
body.page header .mobile-menu {
  height: 100%;
}
footer {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background-color: #000;
}
footer p {
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.top-box .main-banner {
  position: relative;
  width: 100%;
  padding-bottom: 38.508%;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/index/main-banner.jpg");
}
@media all and (max-width: 900px) {
  .top-box .main-banner {
    padding-bottom: 40%;
    background-size: auto;
    background-position: center;
  }
}
@media all and (max-width: 760px) {
  .top-box .main-banner {
    padding-bottom: 50%;
  }
}
@media all and (max-width: 520px) {
  .top-box .main-banner {
    padding-bottom: 60%;
  }
}
@media all and (max-width: 400px) {
  .top-box .main-banner {
    padding-bottom: 75%;
  }
}
.top-box .main-banner .title-box {
  position: absolute;
  top: 40%;
  right: 8%;
}
@media all and (max-width: 1400px) {
  .top-box .main-banner .title-box {
    top: 30%;
  }
}
@media all and (max-width: 1100px) {
  .top-box .main-banner .title-box {
    top: 24%;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .title-box {
    display: none;
  }
}
.top-box .main-banner .title-box h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}
@media all and (max-width: 1100px) {
  .top-box .main-banner .title-box h1 {
    font-size: 30px;
  }
}
.top-box .main-banner .title-box h2 {
  width: 60%;
  margin-left: 40%;
  text-align: right;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
@media all and (max-width: 1100px) {
  .top-box .main-banner .title-box h2 {
    font-size: 18px;
    line-height: 22px;
  }
}
.top-box .main-banner .main-fuction-box {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 25, 22, 0.75);
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box {
    height: 100%;
  }
}
.top-box .main-banner .main-fuction-box .bg-dots {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("../images/dots_bg.png");
}
.top-box .main-banner .main-fuction-box .member-data {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 8%;
  box-sizing: border-box;
  color: #fff;
}
@media all and (max-width: 1500px) {
  .top-box .main-banner .main-fuction-box .member-data {
    padding: 30px 3%;
  }
}
@media all and (max-width: 1050px) {
  .top-box .main-banner .main-fuction-box .member-data {
    padding: 30px 1%;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-data {
    padding: 5% 3%;
  }
}
.top-box .main-banner .main-fuction-box .member-data .member-name {
  font-size: 24px;
  margin-bottom: 25px;
}
.top-box .main-banner .main-fuction-box .member-data .point {
  font-size: 16px;
  width: 40%;
  float: left;
}
@media all and (max-width: 1350px) {
  .top-box .main-banner .main-fuction-box .member-data .point {
    width: 50%;
  }
}
@media all and (max-width: 1050px) {
  .top-box .main-banner .main-fuction-box .member-data .point {
    margin-top: 14px;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-data .point {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 6%;
  }
}
.top-box .main-banner .main-fuction-box .member-data .point > span:nth-child(1) {
  margin-right: 15px;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-data .point > span:nth-child(1) {
    display: block;
    margin-bottom: 2%;
  }
}
.top-box .main-banner .main-fuction-box .member-data .point .point-num {
  margin-right: 10px;
}
.top-box .main-banner .main-fuction-box .member-data .point a {
  width: 20px;
  display: inline-block;
  color: #fff;
  vertical-align: bottom;
  text-align: center;
}
.top-box .main-banner .main-fuction-box .member-data .point a i {
  font-size: 24px;
  display: inline-block;
  vertical-align: bottom;
}
.top-box .main-banner .main-fuction-box .member-data .point .point-num {
  cursor: default;
  font-size: 60px;
}
@media all and (max-width: 1050px) {
  .top-box .main-banner .main-fuction-box .member-data .point .point-num {
    font-size: 46px;
  }
}
.top-box .main-banner .main-fuction-box .member-data .progress {
  width: 60%;
  float: right;
  margin-top: 5px;
}
@media all and (max-width: 1350px) {
  .top-box .main-banner .main-fuction-box .member-data .progress {
    width: 50%;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-data .progress {
    width: 100%;
  }
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box {
  margin-bottom: 10px;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .nums-box {
  overflow: hidden;
  margin-bottom: 2px;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .nums-box .start-point {
  float: left;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .nums-box .end-point {
  float: right;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .bar > div {
  float: left;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  -ms-transition: 3s;
  transition: 3s;
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .bar .gray-bar {
  background-color: rgba(0, 0, 0, 0.45);
}
.top-box .main-banner .main-fuction-box .member-data .progress .bar-box .bar .target-bar {
  width: 0%;
  position: absolute;
  top: 0;
  background-color: #f8e71c;
}
.top-box .main-banner .main-fuction-box .member-data .progress .detail-box {
  width: 100%
						height: 21px;
}
.top-box .main-banner .main-fuction-box .member-data .progress .detail-box .detail {
  width: auto;
  height: 21px;
  font-size: 13px;
  line-height: 21px;
  display: inline-block;
  letter-spacing: 0.5px;
  overflow: hidden;
  word-break: break-all;
  transition: width 0.5s linear;
}
.top-box .main-banner .main-fuction-box .member-data .progress .detail-box .detail.open {
  width: 450px;
}
.top-box .main-banner .main-fuction-box .member-login {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 8%;
  box-sizing: border-box;
  color: #fff;
}
@media all and (max-width: 1500px) {
  .top-box .main-banner .main-fuction-box .member-login {
    padding: 20px 3%;
  }
}
.top-box .main-banner .main-fuction-box .member-login p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-login p {
    margin-bottom: 4%;
  }
}
.top-box .main-banner .main-fuction-box .member-login .login-btn-anchor {
  display: none;
  cursor: pointer;
}
.top-box .main-banner .main-fuction-box .member-login ul {
  overflow: hidden;
}
.top-box .main-banner .main-fuction-box .member-login ul li {
  float: left;
  width: 49%;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-login ul li {
    width: 100%;
    margin-bottom: 3%;
  }
}
.top-box .main-banner .main-fuction-box .member-login ul li input {
  width: 100%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #979797;
  margin-bottom: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.top-box .main-banner .main-fuction-box .member-login ul li span {
  font-size: 14px;
}
.top-box .main-banner .main-fuction-box .member-login ul li ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  font-size: 16px;
}
.top-box .main-banner .main-fuction-box .member-login ul li :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-size: 16px;
}
.top-box .main-banner .main-fuction-box .member-login ul li ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-size: 16px;
}
.top-box .main-banner .main-fuction-box .member-login ul li :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
  font-size: 16px;
}
.top-box .main-banner .main-fuction-box .member-login ul li:nth-child(1) {
  margin-right: 2%;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box .member-login ul li:nth-child(1) {
    margin-right: 0;
  }
}
.top-box .main-banner .main-fuction-box .member-login ul li:nth-child(3) {
  width: 100%;
  margin-top: 10px;
}
.top-box .main-banner .main-fuction-box .member-login ul li:nth-child(3) .btn-submit {
  width: 115px;
  height: 35px;
  float: right;
  position: relative;
}
.top-box .main-banner .main-fuction-box .member-login ul li:nth-child(3) .btn-submit input {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  color: #000;
  font-size: 16px;
  margin-bottom: 0;
  padding: 7px 5px;
  font-weight: bolder;
  text-indent: -10px;
  cursor: pointer;
  outline: none;
}
.top-box .main-banner .main-fuction-box .member-login ul li:nth-child(3) .btn-submit i {
  position: absolute;
  top: 7px;
  right: 13px;
  color: #000;
  font-size: 20px;
}
.top-box .main-banner .main-fuction-box.fix-top {
  position: fixed;
  top: 0;
  bottom: auto;
  height: 120px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top {
    height: 41px;
    line-height: 20px;
  }
}
.top-box .main-banner .main-fuction-box.fix-top .member-name {
  display: none;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top .member-data {
    padding: 1% 3%;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top .member-data .point {
    margin: 0;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top .member-data .point span:nth-child(1) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top .member-data .point .point-num {
    font-size: 20px;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.fix-top .member-data .progress {
    display: none;
  }
}
.top-box .main-banner .main-fuction-box.data .member-data {
  display: block;
}
.top-box .main-banner .main-fuction-box.data .member-login {
  display: none;
}
.top-box .main-banner .main-fuction-box.login .member-data {
  display: none;
}
.top-box .main-banner .main-fuction-box.login .member-login {
  display: block;
}
.top-box .main-banner .main-fuction-box.login.fix-top {
  height: 170px;
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.login.fix-top {
    height: 75px;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.login.fix-top .member-login p {
    margin-bottom: 0;
    line-height: 22px;
    display: inline-block;
    width: 50%;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.login.fix-top .member-login ul {
    display: none;
  }
}
@media all and (max-width: 900px) {
  .top-box .main-banner .main-fuction-box.login.fix-top .login-btn-anchor {
    display: inline-block;
    float: right;
    width: 115px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    color: #000;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.wrap {
  width: 100%;
  margin: 0 auto;
}
.wrap .bg-dots {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("../images/dots_bg.png");
}
.wrap .section1 {
  padding: 5% 0;
  width: 84%;
  margin: 0 auto;
}
@media all and (max-width: 1500px) {
  .wrap .section1 {
    width: 94%;
  }
}
@media all and (max-width: 900px) {
  .wrap .section1 {
    padding: 0;
    width: 100%;
  }
}
.wrap .section1 .all-news .black-mask,
.wrap .section1 .exclusive-offer .black-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.wrap .section1 .all-news .dots-box,
.wrap .section1 .exclusive-offer .dots-box {
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0%;
  left: -25%;
  transform: rotate(45deg);
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrap .section1 .all-news .hot,
.wrap .section1 .exclusive-offer .hot {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #d0021a transparent transparent;
  line-height: 0px;
  _border-color: #000000 #d0021a #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.wrap .section1 .all-news .hot .bg-dots,
.wrap .section1 .exclusive-offer .hot .bg-dots {
  width: 50px;
  height: 50px;
}
.wrap .section1 .all-news .title-box,
.wrap .section1 .exclusive-offer .title-box {
  color: #fff;
  position: absolute;
  text-align: center;
  top: calc(50% - 19px);
  margin: 0 auto;
  width: 100%;
}
.wrap .section1 .all-news .title-box h3,
.wrap .section1 .exclusive-offer .title-box h3 {
  font-size: 22px;
  margin-bottom: 2px;
}
.wrap .section1 .all-news .title-box h4,
.wrap .section1 .exclusive-offer .title-box h4 {
  font-size: 14px;
}
.wrap .section1 .all-news {
  width: 45%;
  height: 250px;
  margin-right: 5%;
  position: relative;
  background-size: 100% auto;
  overflow: hidden;
  background-position: center;
  background-image: url("../images/index/section1/all-news.jpg");
}
.wrap .section1 .all-news:hover .dots-box {
  height: 60%;
  top: 20%;
}
.wrap .section1 .all-news:hover .black-mask {
  background-color: rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 1500px) {
  .wrap .section1 .all-news {
    width: 47%;
    margin-right: 3%;
  }
}
@media all and (max-width: 900px) {
  .wrap .section1 .all-news {
    width: 50%;
    margin-right: 0;
    float: left;
    height: auto;
    padding-bottom: 33%;
  }
}
@media all and (max-width: 500px) {
  .wrap .section1 .all-news {
    width: 100%;
    padding-bottom: 65%;
  }
}
.wrap .section1 .exclusive-offer {
  width: 45%;
  height: 250px;
  margin-left: 4.4%;
  position: relative;
  background-size: 100% auto;
  overflow: hidden;
  background-position: center;
  background-image: url("../images/index/section1/exclusive-offer.jpg");
}
.wrap .section1 .exclusive-offer:hover .dots-box {
  height: 60%;
  top: 20%;
}
.wrap .section1 .exclusive-offer:hover .black-mask {
  background-color: rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 1500px) {
  .wrap .section1 .exclusive-offer {
    width: 47%;
    margin-left: 2.4%;
  }
}
@media all and (max-width: 900px) {
  .wrap .section1 .exclusive-offer {
    width: 50%;
    margin-left: 0;
    height: auto;
    padding-bottom: 33%;
  }
}
@media all and (max-width: 500px) {
  .wrap .section1 .exclusive-offer {
    width: 100%;
    padding-bottom: 65%;
  }
}
.wrap .section1 .welcome-box {
  box-sizing: border-box;
  padding: 4%;
}
@media all and (max-width: 900px) {
  .wrap .section1 .welcome-box {
    padding: 4% 2%;
  }
}
.wrap .section1 .welcome-box .title-box {
  position: relative;
  top: 0;
  right: 0;
}
.wrap .section1 .welcome-box .title-box h1 {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  text-align: right;
}
.wrap .section1 .welcome-box .title-box h2 {
  width: 100%;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.wrap .section2 {
  padding: 1% 8% 0 8%;
  background-color: #EFEFEF;
}
@media all and (max-width: 1500px) {
  .wrap .section2 {
    padding: 1% 3% 0 3%;
  }
}
@media all and (max-width: 900px) {
  .wrap .section2 {
    padding: 2%;
    padding-bottom: 0;
  }
}
.wrap .section2 .news-box {
  margin-bottom: 3%;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box {
    margin-bottom: 7%;
  }
}
.wrap .section2 .news-box .title {
  text-align: center;
  margin-bottom: 40px;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box .title {
    text-align: right;
    margin-bottom: 2%;
  }
}
.wrap .section2 .news-box .title h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.wrap .section2 .news-box .title h3 {
  font-size: 15px;
}
.wrap .section2 .news-box ul {
  overflow: hidden;
  margin-bottom: 3%;
}
.wrap .section2 .news-box ul li {
  width: 32%;
  float: left;
  margin-right: 2%;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box ul li {
    width: 49.5%;
    margin-right: 1%;
    margin-bottom: 30px;
  }
}
@media all and (max-width: 500px) {
  .wrap .section2 .news-box ul li {
    width: 100%;
    margin-right: 0%;
  }
}
.wrap .section2 .news-box ul li .title-box h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.wrap .section2 .news-box ul li .title-box p {
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box ul li:nth-child(2) {
    margin-right: 0;
  }
}
.wrap .section2 .news-box ul li:nth-child(3) {
  margin-right: 0;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box ul li:nth-child(3) {
    margin-right: 1%;
  }
}
.wrap .section2 .news-box ul li:nth-child(4) {
  display: none;
  margin-right: 0;
  margin-bottom: 0;
}
@media all and (max-width: 900px) {
  .wrap .section2 .news-box ul li:nth-child(4) {
    display: block;
  }
}
.wrap .section2 .news-box .btn-more {
  width: 175px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  position: relative;
  margin: 0 auto;
  background-color: #D0021B;
}
.wrap .section2 .news-box .btn-more a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
}
.wrap .section2 .news-box .btn-more a .bg-dots {
  position: absolute;
}
.wrap .section2 .news-box .btn-more a i {
  margin-left: 7px;
  font-size: 20px;
}
.wrap .section2 .bottom-logo-box {
  text-align: center;
  padding: 3% 20px;
  border-top: solid 1px #BFBFBF;
}
.wrap .section2 .bottom-logo-box img {
  width: 750px;
  height: 50px;
}
@media all and (max-width: 770px) {
  .wrap .section2 .bottom-logo-box img {
    width: 100%;
    height: auto;
  }
}
/* Safari  */
/* Firefox */
/* IE 11 */
