.rain-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0.1;
	background-color: rgba(255, 0, 0, 0.2);
	animation:  bgcolor 10s linear infinite;
	.img-box {
		width: 100%;
		height: 100%;
		background-image: url('../images/01.png');
		animation: rain 2s linear infinite;
	}
}
.front-box {
	position: fixed;
	top: 9%;
	width: 1200px;
	height: 700px;
	left: 50%;
	opacity: 0.1;
	margin-left: -631px;
	background-position:0px 75px;
	background-image: url('../images/01.png');
	animation: rain2 3s linear infinite;
}
@keyframes rain {
	0%{ background-position:0px 0px; }
	100%{ background-position:0px 1050px }
}
@keyframes rain2 {
	0%{ background-position: 0px 75px; }
	100%{ background-position: 0px 1125px }
}
@keyframes bgcolor {
	0%{ background-color: rgba(255, 0, 0, 0.2); }
	50% { background-color: rgba(0, 255, 255, 0.2); }
	100%{ background-color: rgba(255, 0, 0, 0.2); }
}
.wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	.title-box {
		width: 700px;
		text-align: center;
		position: fixed;
		top: 35%;
		left: 50%;
		margin-left: -350px;
		h3,h4 {
			padding: 0;
			font-size: 1.5em;
			margin-top: .6em;
			margin-bottom: .6em;
			color: #fff;
		}
		h1,h4 {
			font-size: 30px;
			font-family: "Raleway", sans-serif;
			margin-bottom: 30px;
		}
		h1 { font-size: 50px; text-shadow: 0 0 30px rgba(255, 255, 255, 0.7); }
		h3 {
			font-family: "Dancing Script", sans-serif;
			text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
		}
		h4 { text-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
	}
}