header {
	width: 100%;
	height: 110px;
	position: relative;
	top: 0;
	z-index: 12;
	background-color: #000;
	.trs(0.2s);
	padding: 0 8%;
	box-sizing: border-box;
	@media all and (max-width: 1500px) {
		& { padding: 0 3%; height: 80px; }
	}
	@media all and (max-width: 1050px) {
		& { padding: 0 1%; }
	}
	@media all and (max-width: 900px) {
		& { padding: 0; height: 60px; text-align: center; }
	}
	.member-icon {
		float: left;
		width: 60px;
		height: 60px;
		border-right: solid 1px #4F4F4F;
		i {
			font-size: 20px;
			color: #fff;
			line-height: 60px;
		}
	}
	.menu-icon {
		float: right;
		width: 60px;
		height: 60px;
		cursor: pointer;
		border-left: solid 1px #4F4F4F;
		i {
			font-size: 20px;
			color: #fff;
			line-height: 60px;
		}
	}
	.logo {
		width: 120px;
		height: 110px;
		background: #D0021B;
		padding: 20px 0;
		box-sizing: border-box;
		float: left;
		@media all and (max-width: 1500px) {
			& { width: auto; height: 80px; padding: 15px 5px; }
		}
		@media all and (max-width: 900px) {
			& { width: auto; height: 60px; padding: 12px 5px; float: none; display: inline-block; }
		}
		img {
			width: 115px;
			height: auto;
			margin: 0px auto;
			display: block;
			@media all and (max-width: 1500px) {
				& { width: auto; height: 50px; }
			}
			@media all and (max-width: 900px) {
				& { width: auto; height: 34px; }
			}
		}
	}
	.tool-box {
		overflow: hidden;
		height: 100%;
		padding: 25px 0;
		box-sizing: border-box;
		@media all and (max-width: 1500px) {
			& { padding: 1% 0; }
		}
		@media all and (max-width: 900px) {
			& { display: none; }
		}
		li {
			float: right;
			height: 100%;
			font-size: 18px;
			line-height: 60px;
			color: #fff;
			margin-right: 20px;
			a,i { color: #fff; }
		}
		li.icon {
			width: 60px;
			text-align: center;
			background-color: #D0021B;
			margin-right: 0;
		}
	}
	.black-mask {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .7);
		.trs(0.5s);
	}
	.black-mask.open {
		opacity: 1;
		pointer-events: auto;
	}
	.menu-box {
		width: 0;
		height: 100%;
		z-index: 222;
		position: fixed;
		top: 0;
		right: -100%;
		.trs(0.5s);
		@media all and (max-width: 900px) {
			& { width: 100%; }
		}
		.close {
			display: none;
			position: absolute;
			top: 18px;
			right: 20px;
			font-size: 24px;
			color: #dcdcdc;
			cursor: pointer;
			@media all and (max-width: 900px) {
				& { display: block; }
			}
		}
		.menu {
			width: 100%;
			height: 100%;
			text-align: right;
			float: right;
			background-color: rgba(0, 0, 0, 0.7);
			box-sizing: border-box;
			padding-top: 60px;
			.trs();
			li {
				cursor: pointer;
				padding: 15px 10px;
				box-sizing: border-box;
				border-bottom: solid 1px #565656;
				.trs;
				&:hover {
					background-color: #1f1f1f;
				}
				a {
					font-size: 18px;
					line-height: 24px;
					color: #dcdcdc;
					text-align: right;
				}
			}
		}
	}
	.menu-box.open {
		right: 0;
		.menu {
			width: 40%;
			@media all and (max-width: 600px) {
				& { width: 60%;  }
			}
			@media all and (max-width: 400px) {
				& { width: 70%;  }
			}
		}
	}
}
header.hide {
	height: 0;
	overflow: hidden;
}
body.page {
	header .mobile-menu {
		height: 100%;
	}
}